page-startpage {

.button{
width:100%;
color:white;
max-width:70%;
background-color:black;
}
.smallfont{
font-size:small!important;
}
.smallspace{
height:10%!important;
}
.mypadding{
padding-bottom:5%;
}

}
